<!-- Your awesome content goes here -->
<div class="row">
	<div class="col-sm-12">
		<div class="widget">
			<form id="FormID">
				<input type="hidden" id="valID">
				<input type="hidden" id="codUsuarioID" name="codUsuario" value=%COD_USUARIO%>
				<div class="user-profile-content">
					<div class="page-heading">
				     	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				     		<i class='icon-cancel-2'></i>
						</button>
				   		<h1>
							<i class='fa fa-send'></i> Enviar Mensagem
						</h1>
					</div>
					<!-- Page Heading End-->
					<hr />
					
					<div class="col-sm-12">
		                <blockquote>
		                    <p>%MENSAGEM%</p>
		                </blockquote>
	                </div>
					
					<hr />	
					
					<div class="form-group col-sm-12" id="divAssuntoID">
						<label for="input-text" class="col-sm-3 control-label">Assunto</label>
						<div class="col-sm-9 pull-left">
							<input type="text" class="form-control" maxlength="60" id="assuntoID" name="assunto" placeholder="Assunto">
							<div id="divHelpAssuntoID"></div>
						</div>
					</div>
					
					<div class="form-group col-sm-12" id="divMensagemID">
						<label for="input-text" class="col-sm-3 control-label">Mensagem</label>
						<div class="col-sm-9 pull-left">
							<textarea id="mensagemID" name="mensagem" class="form-control" maxlength="300" style="height: 140px; resize: none;" placeholder="Descreva sua mensagem..."></textarea>
							<div id="divHelpMensagemID"></div>
						</div>
					</div>		
					
					<br /><br />
					<div class="form-group">
						<div class="col-sm-12" align='center'>
							<button type="button" id="btnSubmitID" class="btn btn-success">
								&nbsp;&nbsp; <i class="fa fa-send"></i> Enviar &nbsp;&nbsp;
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" charset="%CHARSET%">

$('#btnSubmitID').on("click", function(e) {
	var vOK 		  = validaMensagem();
	
	if(vOK == false) {
		return false;
	}else{
		$('#FormID').submit();
	}
});

//Submit formulário
$('#FormID').submit(function() {
	
	$.ajax({
		type:	"POST", 
		url:	"%DP%",
		data:	$('#FormID').serialize(),
	}).done(function( data, textStatus, jqXHR) {
		if (checaRetornoOK(data) == true) {
			MostraAviso("Fechar");
		}else{
			MostraAviso("Fechar");
		}
		
		$('#DivModalID').on('hidden.bs.modal', function () {
			LimpaModalAviso();
			$('#DivModalID').off('hidden.bs.modal');
		});
		
	}).fail(function( jqXHR, textStatus, errorThrown) {
		MostraAviso(null);
	});
	
	return false; 
});


function validaMensagem(){
	var vAssunto	  = $('#assuntoID').val();	
	var vMensagem	  = $('#mensagemID').val();	
	var vOK			  = true;

	// Assunto
	if (!vAssunto) {
		$('#divAssuntoID').addClass('has-error');
		$('#divHelpAssuntoID').html(CriaSpanErro('Assunto deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divAssuntoID').removeClass('has-error');
		$('#divHelpAssuntoID').html('');		
	}
	
	// Mensagem
	if (!vMensagem) {
		$('#divMensagemID').addClass('has-error');
		$('#divHelpMensagemID').html(CriaSpanErro('Mensagem deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divMensagemID').removeClass('has-error');
		$('#divHelpMensagemID').html('');		
	}
	
	if (vOK == true) {
		return true ;
	}else{		
		return false;
	}
}
</script>