<!-- ============================================================== -->
<!-- Start Content here -->
<!-- ============================================================== -->
<div class="profile-banner"
	style="background-image: url(%IMG_URL%/wallpaper_perfil.png);">
	<div class="col-sm-3 avatar-container">
		<img src="%IMG_URL%/iconPerfil.jpg"
			class="img-circle profile-avatar" alt="User avatar">
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<!-- Begin user profile -->
		<div class="text-center user-profile-2">
			<h4>
				<b>%NOME_PERFIL%</b>
			</h4>
			<h5>%PERFIL_TIPO%</h5>

			<ul class="list-group">
				<li class="list-group-item active">
					<a href="#" class="link-list" data-toggle="tab">Meus Dados</a></li>	
			</ul>
		</div>
		<!-- End div .box-info -->
		<!-- Begin user profile -->
	</div>
	<!-- End div .col-sm-4 -->
	<br><br><br>
	<div id="divDadosPerfilID" class="col-sm-9">
		<form role="form" id="FormID">
		<input type="hidden" id="_alterarID" name="_alterar" value=0>
			<div class="widget widget-tabbed">
				<!-- Nav tab -->
				<ul class="nav nav-tabs nav-justified">
					<li class="active"><a href="#pessoal" data-toggle="tab"><i
							class="fa fa-user"></i> Pessoal</a></li>
					<li><a href="#senha" data-toggle="tab"><i
							class="fa fa-laptop"></i> Senha</a></li>
				</ul>
				<!-- End nav tab -->
	
				<!-- Tab panes -->
				<div class="tab-content">
					<!-- Tab about -->
					<div class="tab-pane animated active fadeInRight" id="pessoal">
						<div class="user-profile-content">
							<h5>
								<strong>Minha</strong> Conta
							</h5>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-1">
									<div class="form-group col-sm-12" id="divNomeID">
										<label for="profile-firstname">Nome Completo</label> 
										<input class="form-control input-lg" type="text"
											maxlength="200" id="nomeID" name="nome" value="%NOME%" placeholder="Nome" onChange="_alterado();">
										<div id="divHelpNomeID"></div>
									</div>
									<div class="form-group">
										<div class="form-group col-sm-12" id="divEmailID">
											<label for="profile-email">Email</label> 
											<input class="form-control input-lg" type="email" maxlength="100" 
												id="emailID" name="email" value="%EMAIL%" placeholder="Email" disabled>
											<div id="divHelpEmailID"></div>
										</div>
									</div>
									<div class="form-group">
										<div class="form-group col-sm-6" id="divTelefoneID">
											<label for="profile-telefone">Telefone</label> 
											<input class="form-control input-lg" type="text" maxlength="15" 
												id="telefoneID" name="telefone" value="%TELEFONE%" placeholder="Telefone" onChange="_alterado();" data-type="mask" data-mask="(00)00000-0000" data-mask-retira="1" placeholder="Telefone">
											<div id="divHelpTelefoneID"></div>
										</div>
										<div class="form-group col-sm-6" id="divNascimentoID">
											<label for="profile-nasciemnto">Nascimento</label> 
											<input class="form-control datepicker-input input-lg" maxlength="10" id="dataNascimentoID" name="dataNascimento" value="%DATA_NASCIMENTO%" 
												data-type="mask" data-mask="99/99/9999" data-mask-retira="0" onChange="_alterado();" placeholder="Data de Nascimento">
											<div id="divHelpDataNascimentoID"></div>
										</div>
									</div>
	
									<div class="form-group">
										<div class="col-sm-6">
											<label for="profile-city">Tipo Sanguíneo</label> 
											<select class="selectpicker show-tick show-menu-arrow" id="codTipoSangueID" name="codTipoSangue" onChange="_alterado();" data-width="100%" data-live-search="true">
												%COD_TIPO_SANGUE%
											</select>
											<div id="divHelpCodTipoSangueID"></div>
										</div>
										<div class="col-sm-6">
											<label for="profile-city">Sexo</label> 
											<select class="selectpicker show-tick show-menu-arrow" id="codSexoID" name="codSexo" onChange="_alterado();" data-width="100%" data-live-search="true">
												%COD_SEXO%
											</select>
											<div id="divHelpCodSexoID"></div>
										</div>
									</div>
								</div>
							</div>
	
							<!-- End div .row -->
						</div>
						<!-- End div .user-profile-content -->
					</div>
					<!-- End div .tab-pane -->
	
					<!-- Tab user activities -->
					<div class="tab-pane animated fadeInRight" id="senha">
						<div class="user-profile-content">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-1">
									<div class="form-group col-sm-12" id="divSenhaAntigaID">
										<div class="col-xs-12">
											<label for="profile-password">Antiga Senha</label> 
											<input class="form-control input-lg" type="password"
												id="antigaSenhaID" name="antigaSenha" onChange="_alterado();">
											<div id="divHelpAntigaSenhaID"></div>
										</div>
									</div>
									<hr>								
									<div class="form-group col-sm-12" id="divSenhaNovaID">
										<div class="col-xs-12">
											<label for="profile-password-new">Nova Senha</label> 
											<input class="form-control input-lg" type="password"
												id="novaSenhaID" name="novaSenha" onChange="_alterado();">
											<div id="divHelpNovaSenhaID"></div>
										</div>
									</div>
									<div class="form-group col-sm-12" id="divSenhaConfirmID">
										<div class="col-xs-12">
											<label for="profile-password-new-confirm">Confirme Nova Senha</label> 
											<input class="form-control input-lg" type="password"
												id="confirmeSenhaID" name="confirmeSenha" onChange="_alterado();">
											<div id="divHelpConfirmeSenhaID"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End div .scroll-user-widget -->
					</div>
					<!-- End div .tab-pane -->
					<!-- End Tab user activities -->
				</div>
				<!-- End div .tab-content -->
			</div>
		
			<div class="block-content block-content-full bg-gray-lighter text-center">
				<button type="button" id="btnSubmitID" class="btn btn-sm btn-primary" disabled>
					<i class="fa fa-check push-5-r"></i> Salvar Mudanças
				</button>
			</div>
		</form>
		<!-- End div .box-info -->
	</div>
</div>

<script type="text/javascript" charset="%CHARSET%">
//DATEPICKER https://silviomoreto.github.io/bootstrap-select/
$('.datepicker-input').datepicker();

//SELECT
$('.selectpicker').selectpicker({style: 'btn-inverse btn-lg border-gray-1', size: 8});

//Mascaras
$('[data-type="mask"]').each(function( index ) {
	$( this ).mask($( this ).attr('data-mask'));
});

/** Form **/
$('#btnSubmitID').on("click", function(e) {
	
	var vOK 	= validaPerfil();
	
	if(vOK == false) {
		return false;
	}else{
		$('#FormID').submit();
	}
});

//Submit formulário
$('#FormID').submit(function() {
	$('#btnSubmitID').html('Aguarde...  <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>');
	$('#btnSubmitID').attr("disabled","disabled");
	
	// Retirar mask para salvar
	$('[data-mask-retira="1"]').each(function( index ) {
		$( this ).val($( this ).cleanVal());
	});
	
	$.ajax({
		type:	"POST", 
		url:	"%DP%",
		data:	$('#FormID').serialize(),
	}).done(function( data, textStatus, jqXHR) {
		if (checaRetornoOK(data) == true) {
			MostraAviso("Fechar");
		}else{
			MostraAviso("Fechar");
		}
		
		$('#DivModalID').on('hidden.bs.modal', function () {
			LimpaModalAviso();
			$('#DivModalID').off('hidden.bs.modal');
		});

		//Voltar o botão de salvar
		$('#btnSubmitID').html('<i class="fa fa-check push-5-r"></i> Salvar Mudanças');
		$('#btnSubmitID').attr("disabled",false);
		
	}).fail(function( jqXHR, textStatus, errorThrown) {
		MostraAviso(null);
	});
	
	// Reaplicar mask
	$('[data-mask-retira="1"]').each(function( index ) {
		$( this ).mask($( this ).attr('data-mask'));
		$( this ).trigger('keyup');
	});
	
	return false; 
});

function _alterado(){
	var vAlterar 	  = $('#_alterarID').val(1);	
	
	$('#btnSubmitID').attr("disabled",false);
}

function validaPerfil(){
	var vNome 		  = $('#nomeID').val();	
	var vTelefone	  = $('#telefoneID').val();	
	var vDataNasc	  = $('#dataNascimentoID').val();
	var vTipoSangue	  = $('#codTipoSangueID').val();	
	var vCodSexo	  = $('#codSexoID').val();	
	var vOK			  = true;
	
	// Nome
	if (!vNome) {
		$('#divNomeID').addClass('has-error');
		$('#divHelpNomeID').html(CriaSpanErro('Nome deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divNomeID').removeClass('has-error');
		$('#divHelpNomeID').html('');		
	}
	
	// Telefone
	if (!vTelefone) {
		$('#divTelefoneID').addClass('has-error');
		$('#divHelpTelefoneID').html(CriaSpanErro('Telefone deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divTelefoneID').removeClass('has-error');
		$('#divHelpTelefoneID').html('');		
	}
	
	// DataNasc
	if (!vDataNasc) {
		$('#divDataNascimentoID').addClass('has-error');
		$('#divHelpDataNascimentoID').html(CriaSpanErro('Data Nascimento deve ser escolhido !!!'));
		vOK		= false;
	}else{
		$('#divDataNascimentoID').removeClass('has-error');
		$('#divHelpDataNascimentoID').html('');		
	}
	
	// Tipo Sangue
	if (!vTipoSangue) {
		$('#divCodTipoSangueID').addClass('has-error');
		$('#divHelpCodTipoSangueID').html(CriaSpanErro('Tipo Sanguineo deve ser escolhido !!!'));
		vOK		= false;
	}else{
		$('#divCodTipoSangueID').removeClass('has-error');
		$('#divHelpCodTipoSangueID').html('');		
	}
	
	// CodSexo
	if (!vCodSexo) {
		$('#divCodSexoID').addClass('has-error');
		$('#divHelpCodSexoID').html(CriaSpanErro('Sexo deve ser escolhido !!!'));
		vOK		= false;
	}else{
		$('#divCodSexoID').removeClass('has-error');
		$('#divHelpCodSexoID').html('');		
	}
	
	if (vOK == true) {
		return true ;
	}else{
		return false;
	}
}

</script>
