<!-- Your awesome content goes here -->
<div class="row">
	<div class="col-sm-12">
		<div class="widget">
			<div class="user-profile-content">
				<div class="page-heading">
			     	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			     		<i class='icon-cancel-2'></i>
					</button>
			   		<h1>
						<i class='fa fa-bell-o'></i> Ler Notificação
					</h1>
				</div>
				<!-- Page Heading End-->
				<hr />
				<div align='center'>
					<h5>
						<strong><i class='icon-universal-access'></i> Assunto:</strong> %ASSUNTO%
					</h5>
				</div>
				<p>
					%MENSAGEM%
				</p>
				
				<hr />
				<div id="divSolicitacaoID" class="row col-md-offset-2 %HIDDEN_SOLIC%">
					<div class="col-sm-7">
						<h5><strong>Codigo</strong> Solicitação</h5>
						<p><b>#%COD_SOLICITACAO%</b></p>
						
						<h5><strong>Hemocentro</strong></h5>
						<p><b style="color:gray;">%HEMOCENTRO%</b></p>
						
						<h5><strong>Tipo</strong> Sanguíneo</h5>
						<p><b style="color:red;">%TIPO_SANGUE%</b></p>
						
						<h5><strong>Mensagem</strong></h5>
						<p>%RELATO%</p>
					</div>
					<div class="col-sm-5">
						<h5><strong>Status</strong></h5>
						<p>%STATUS%</p>
												
						<h5><strong>Local</strong></h5>
						<p><b style="color:gray;">%CIDADE% - %ESTADO%</b></p>
						
						<h5><strong>Data</strong> Solicitação</h5>
						<p>%DATA_SOLICITACAO%</p>
						
						<h5><strong>Data</strong> Prazo</h5>
						<p>%DATA_PRAZO%</p>
					</div>
				</div><!-- End div .row -->
				
				<br /><br />
				<div class="form-group">
					<form id="FormID">
						<input type="hidden" id="valID">
						<input type="hidden" id="codSolicitacaoID" name="codSolicitacao" value=%COD_SOLICITACAO%>					
						<input type="hidden" id="codHemocentroID" name="codHemocentro" value=%COD_HEMOCENTRO%>
						
						<div class="col-md-12">
							<div id="divAlertID" class="alert alert-info hidden">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<div id="alertMsgID"></div>
							</div>
						</div> 
						
						<div class="col-sm-12" align='center'>
							<button type="button" onclick="%URL_PERGUNTAR%" id="btnSubmitID" class="btn btn-red-1 %HIDDEN_SOLIC%">
								<i class="icon-reply"></i> Perguntar
							</button>
							
							&nbsp;&nbsp;
							
							<button type="submit" id="aceitarID" class="btn btn-success %HIDDEN_SOLIC%">
								&nbsp;&nbsp; <i class="fa fa-check"></i> Aceitar &nbsp;&nbsp;
							</button>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>

<script type="text/javascript" charset="%CHARSET%">

//Submit formulário
$('#FormID').submit(function() {
	
	$.ajax({
		type:	"POST", 
		url:	"%DP%",
		data:	$('#FormID').serialize(),
	}).done(function( data, textStatus, jqXHR) {
		
		if (checaRetornoOK(data) == true) {
			MostraAviso("Fechar",'Informações', GetCodRetorno(data));
		}else{
			$('#divAlertID').removeClass('hidden');
			$('#alertMsgID').html( getMsgRetornoNoEncode(data) );
		}
		
		$('#DivModalID').on('hidden.bs.modal', function () {
			LimpaModalAviso();
			$('#DivModalID').off('hidden.bs.modal');
		});
		
	}).fail(function( jqXHR, textStatus, errorThrown) {
		$('#divAlertID').removeClass('hidden');
		$('#alertMsgID').html( 'Ocorreu um erro ao aceitar o pedido, tente mais tarde ou entre em contato conosco.' );
	});
	
	return false; 
});
</script>