<!-- Page Heading Start -->
<div class="page-heading">
	<h1><i class='icon-user-add'></i> Sobre
	</h1>
</div>
<!-- Page Heading End-->

<!-- Your awesome content goes here -->
<div class="row">
	<div class="col-sm-12">
		<div class="widget">

			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center featured-text vertical-center-by-padding">
						<div class="caption">
							<h2 class="color-white kill-top-margin large-caption">
								Sobre o DoadorOnline
							</h2>
							<h4 class="color-white medium-caption">
								Agregar e cadastrar doadores de sangue em todo o Brasil,
								<p>com a finalidade de salvar vidas e resgatar sorrisos
							</h4>
						</div>
					</div>
				</div>
			</div><br>
			
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<div class="info-feature-horizontal">
							<div class="content">
								<h4><i class="fa fa-flag color-icon"></i> NÓS ACREDITAMOS NISSO</h4>
								<p>Tudo que você necessita no processo de doação de sangue
									em um único lugar. Ferramenta simples, dinâmica e inovadora
									para captação e fidelização de doadores, bem como, localização
									rápida e segura de doadores. DoadorOnline um canal para atender
									às necessidades por doação de sangue em todo o Brasil.</p>
							</div>
						</div>
						<div class="info-feature-horizontal">
							<div class="content">
								<h4><i class="glyphicon glyphicon-heart"></i> O QUE OFERECEMOS</h4>
								<p>O DoadorOnline é uma plataforma que oferece informação e
									conexão entre doadores, potencias doadores e receptores com os
									hemocentros e pacientes, agiliza o processo de captação de
									novos doadores e busca mantê-lo através do universo virtual.
									Auxilia o doador, informando-o sobre quando estará apto a doar
									novamente, cuidados pós-doação, agendar doação, além de
									motiva-lo com informações da importância de seu ato solidário.
									Os hemocentros, por sua vez utilizarão o sistema para localizar
									doadores que estejam hábeis a doar, respeitando o prazo entre
									doações.</p>
							</div>
						</div>
						<div class="info-feature-horizontal">
							<div class="content">
								<h4><i class="fa fa-group"></i> POR QUE O DOADORONLINE?</h4>
								<p>Os estoques de sangue dos hemocentros estão
									constantemente escassos e, por outro lado, a demanda nunca
									para, logo, vislumbrou-se a necessidade da criação de uma
									ferramenta ágil e inovadora. Somos um banco de sangue virtual
									disponível a qualquer momento para suprir as demandas por
									doação de sangue aos pacientes submetidos a cirurgias
									cardíacas, transplante de fígado, entre outras.</p>
							</div>
						</div>

					</div>
					<div class="col-md-5" align='center' style="margin-top: 40px" data-animation="bounceInRight">
						<img alt="" class="img-responsive img-center" height="70%" width="70%"
							src="%IMG_URL%/Logo_no_name.png">
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
