<div class="row">
	<div class="col-sm-12">
		<div class="widget">
			<div class="widget-header transparent">
				<h2>
					<strong>Informações </strong>Gerais
				</h2>
			</div>
			<div class="widget-content padding">
				<div id="horizontal-form">
					<form class="form-horizontal" role="form" id="FormID">
					<input type="hidden" id="codParceiroID" name="codParceiro" value="%COD_PARCEIRO%">
						<div class="col-sm-4">
							<div class="form-group col-sm-12" id="divModuloID">
								<label for="input-text" class="col-sm-3 control-label">Modulos:</label>
								<div class="input-group col-sm-9 pull-left">
									<select onchange="buscaArvore();" class="select2" style="width:100%;" id="moduloID" name="modulo" data-rel="select2">
										%MODULOS%
									</select>
									<div id="divHelpModuloID"></div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group col-sm-12" id="divPerfilID">
								<label for="input-text" class="col-sm-3 control-label">Perfil:</label>
								<div class="input-group col-sm-9 pull-left">
									<select onchange="buscaArvore();" class="select2" style="width:100%;" id="perfilID" name="perfil" data-rel="select2">
										%PERFIL_ACESSO%
									</select>
									<div id="divHelpPerfilID"></div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-4">
							<div class="form-group col-sm-12" id="divGrupoID">
								<label for="input-text" class="col-sm-3 control-label">Grupo:</label>								
								<div class="input-group col-sm-9 pull-left">
									<select onchange="buscaArvore();" class="select2" style="width:100%;" id="grupoID" name="grupo" data-rel="select2">
										%GRUPO_ACESSO%
									</select>
									<div id="divHelpGrupoID"></div>
								</div>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="dd" id="nestable2">
					            <ol class="dd-list">
					                <li class="dd-item dd3-item" data-id="1">
					                    <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 13</div>
					                </li>
					                <li class="dd-item dd3-item" data-id="2">
					                    <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 14</div>
					                </li>
					                <li class="dd-item dd3-item" data-id="3">
					                    <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 15</div>
					                    <ol class="dd-list">
					                        <li class="dd-item dd3-item" data-id="4">
					                            <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 16</div>
					                        </li>
					                        <li class="dd-item dd3-item" data-id="5">
					                            <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 17</div>
					                        </li>
					                        <li class="dd-item dd3-item" data-id="6">
					                            <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 18</div>
					                        </li>
					                    </ol>
					                </li>
					            </ol>
					        </div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-9 col-sm-10">
								<button type="submit" id="btnSubmitID" class="btn btn-primary">
									<i class="fa fa-check bigger-110"></i> Salvar
								</button>
								<button type="button" class="btn btn-info" id="cancel"
									onclick="javascript:zgLoadUrl('%URLVOLTAR%');">
									<i class="fa fa-undo bigger-110"></i> Voltar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-8" id='divMenuPerfilID'>
	</div>
</div>

	<script>
		var resizefunc = [];
	</script>	
	<script src="%PKG_URL%/assets/libs/jquery/jquery-1.11.1.min.js"></script>
	<script src="%PKG_URL%/assets/libs/bootstrap/js/bootstrap.min.js"></script>
	<script src="%PKG_URL%/assets/libs/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="%PKG_URL%/assets/libs/jquery-ui-touch/jquery.ui.touch-punch.min.js"></script>
	<script src="%PKG_URL%/assets/libs/jquery-detectmobile/detect.js"></script>
	<script src="%PKG_URL%/assets/libs/jquery-animate-numbers/jquery.animateNumbers.js"></script>
	<script src="%PKG_URL%/assets/libs/ios7-switch/ios7.switch.js"></script>
	<script src="%PKG_URL%/assets/libs/fastclick/fastclick.js"></script>
	<script src="%PKG_URL%/assets/libs/jquery-blockui/jquery.blockUI.js"></script>
	<script src="%PKG_URL%/assets/libs/bootstrap-bootbox/bootbox.min.js"></script>
	<script src="%PKG_URL%/assets/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
	<script src="%PKG_URL%/assets/libs/jquery-sparkline/jquery-sparkline.js"></script>
	<script src="%PKG_URL%/assets/libs/nifty-modal/js/classie.js"></script>
	<script src="%PKG_URL%/assets/libs/nifty-modal/js/modalEffects.js"></script>
	<script src="%PKG_URL%/assets/libs/sortable/sortable.min.js"></script>
	<script src="%PKG_URL%/assets/libs/bootstrap-fileinput/bootstrap.file-input.js"></script>
	<script src="%PKG_URL%/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="%PKG_URL%/assets/libs/bootstrap-select2/select2.min.js"></script>
	<script src="%PKG_URL%/assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script> 
	<script src="%PKG_URL%/assets/libs/pace/pace.min.js"></script>
	<script src="%PKG_URL%/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="%PKG_URL%/assets/libs/jquery-icheck/icheck.min.js"></script>

	<!-- Demo Specific JS Libraries -->
	<script src="%PKG_URL%/assets/libs/prettify/prettify.js"></script>

	<script src="%PKG_URL%/assets/js/init.js"></script>
	<!-- Page Specific JS Libraries -->
	<script src="%PKG_URL%/assets/libs/jquery-nestable/jquery.nestable.js"></script>
	<script src="%PKG_URL%/assets/js/pages/nested-list.js"></script>
	
<script type="text/javascript">
//$(".select2").select2();

//SELECT
$('.select2').selectpicker({style: 'btn-inverse border-gray-1',size: 4});

</script>
