<!-- Begin Content -->
<aside class="fh5co-page-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="fh5co-page-heading-lead">
					Cadastrar
					<span class="fh5co-border"></span>
				</h1>
				
			</div>
		</div>
	</div>
</aside>

<div id="fh5co-main">	
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-8 col-md-push-2">	
				<div class="row">
					<form id="FormID" action="#" method="post">
						<input type="hidden" id="validEmailID">
						<div class="col-md-6" id="divNomeID">
							<div class="form-group col-md-push-2">							
								<label for="input-text">Nome Completo</label> 	
								<div class="pull-right" id="divHelpNomeID"></div>
								<input type="text" class="form-control input-lg" maxlength="200" id="nomeID" name="nome" placeholder="Nome Completo">																
							</div>	
						</div>

						<div class="col-md-6" id="divEmailID">
							<div class="form-group">
								<label for="input-text">Email</label>
								<div class="pull-right" id="divHelpEmailID"></div>
								<input type="email" class="form-control input-lg" maxlength="100" id="emailID" name="email" placeholder="Email">
							</div>	
						</div>
						
						<div class="col-md-6" id="divCodEstadoID">
							<div class="form-group">
								<label for="input-text">Estado</label>
								<div class="pull-right" id="divHelpCodEstadoID"></div>
								<select id="codEstadoID" name="codEstado" onchange="buscaCidade();buscaHemocentro();" data-width="100%" class="form-control input-lg">
									%COD_ESTADO%
								</select>
							</div>	
						</div>
						
						<div class="col-md-6" id="divCodCidadeID">
							<div class="form-group">
								<label for="input-text">Cidade</label>
								<div class="pull-right" id="divHelpCodCidadeID"></div>
								<select id="codCidadeID" name="codCidade" data-width="100%" class="form-control input-lg" disabled>
									<option value="">Selecione a cidade</option>
								</select>
							</div>	
						</div>				

						<div class="col-md-6" id="divTelefoneID">
							<div class="form-group">
								<label for="input-text">Telefone</label>
								<div class="pull-right" id="divHelpTelefoneID"></div>
								<input type="text" class="form-control input-lg" maxlength="15" id="telefoneID" name="telefone" placeholder="Telefone" data-type="mask" data-mask="(00) 00000-0000" data-mask-retira="1">
							</div>	
						</div>
						
						<div class="col-md-6" id="divDataNascimentoID">
							<div class="form-group">
								<label for="input-text">Data de Nascimento</label>
								<div class="pull-right" id="divHelpDataNascimentoID"></div>
								<input type="text" class="form-control input-lg datepicker" maxlength="10" id="dataNascimentoID" name="dataNascimento" placeholder="Data de Nascimento" data-type="mask" data-mask="99/99/9999" data-mask-retira="0">
							</div>	
						</div>
						
						<div class="col-md-6" id="divCodSexoID">
							<div class="form-group">
								<label for="input-text">Sexo</label>
								<div class="pull-right" id="divHelpCodSexoID"></div>
								<select id="codSexoID" name="codSexo" data-width="100%" class="form-control input-lg">
									%COD_SEXO%
								</select>
							</div>	
						</div>	
						
						<div class="col-md-6" id="divCodTipoSangueID">
							<div class="form-group">
								<label for="input-text">Tipo Sanguíneo</label>
								<div class="pull-right" id="divHelpCodTipoSangueID"></div>
								<select id="codTipoSangueID" name="codTipoSangue" data-width="100%" class="form-control input-lg">
									%COD_TIPO_SANGUE%
								</select>
							</div>	
						</div>	
						
						<span class="col-sm-8 col-sm-push-2" style="border-top: 1px solid #e9e9e9;"></span>
						
						<div class="col-md-12" id="divTipoID">
							<div class="form-group">
								<label for="input-text">Sou</label>
								<div class="contenedorinputs">
									<input type="radio" id="doadorID" name="tipoUsuario" value="DOA" checked> 
									<i data-original-title="Doador: Indivíduo que doa regulamente ou que já doou alguma vez." class="fa fa-question" style="color:blue" data-toggle="tooltip" data-placement="top" title=""></i>
									Doador 
									
									<input type="radio" id="potencialDoadorID" name="tipoUsuario" value="PDO"> 
									<i data-original-title="Potencial Doador: Indivíduo que nunca doou, mas pretende doar algum dia." class="fa fa-question" style="color:blue" data-toggle="tooltip" data-placement="top" title=""></i>
									Primeira Doação 
									
									<input type="radio" id="receptorID" name="tipoUsuario" value="REC"> 
									<i data-original-title="Receptor: Indivíduo que não pode fazer doação, apenas receber sangue, plasma e plaqueta." class="fa fa-question" style="color:blue" data-toggle="tooltip" data-placement="top" title=""></i>				
									Receptor 
								</div>
							</div>	
						</div>
						
						<div class="col-md-6" id="divCodHemocentroID">
							<div class="form-group">
								<label for="input-text">Onde Doa?</label>
								<div class="pull-right" id="divCodHelpHemocentroID"></div>
								<select id="codHemocentroID" name="codHemocentro" data-width="100%" class="form-control input-lg" disabled>
									<option value="">Selecione o Hemocentro</option>
								</select>
							</div>	
						</div>
						
						<div class="col-md-6" id="divDataUltDoacaoID">
							<div class="form-group">
								<label for="input-text">Data da Última Doação</label>
								<div class="pull-right" id="divHelpDataUltDoacaoID"></div>
								<input type="text" class="form-control input-lg datepicker" maxlength="10" id="dataUltDoacaoID" name="dataUltDoacao" placeholder="Data da Última Doação" data-type="mask" data-mask="99/99/9999" data-mask-retira="0">
							</div>	
						</div>
						
						<div class="col-md-12">
							<div id="divAlertID" class="hidden">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
								<div id="alertMsgID"></div>
							</div>
						</div>
						
						<div class="col-md-6 col-md-offset-7">
							<div class="form-group">
								<button type="button" id="btnSubmitID" class="btn btn-primary">
									<i class="fa fa-check bigger-110"></i> Cadastrar
								</button>
								<input type="reset" id="cancel" class="btn btn-outline" value="Apagar">
							</div>	
						</div>					
					</form>	
				</div>
			</div>
			
			<!--<div class="col-md-4">
				<div class="view">
					<blockquote class="lert alert-info alert-dismissable">
						<p align="Justify">Nosso sistema está em desenvolvimento, mas você pode está nos ajudando á consolidar nossa base de dados,
						fazendo um pré-cadastro, com isso será avisado assim que o Doador Online estiver concluído.</p>
						<small>Equipe <cite title="Source Title">DoadorOnline™</cite></small>
					</blockquote>
				</div>
			</div>-->
		</div>
	</div>
</div>
<div class="fh5co-spacer fh5co-spacer-md"></div>
<!-- End Content -->
	
<script type="text/javascript">
$(document).ready(function(){
	$('[data-toggle="tooltip"]').tooltip();   
  
	$('input').iCheck({
		checkboxClass: 'icheckbox_square-red',
		radioClass: 'iradio_square-red',
		increaseArea: '20%' // optional
	});  
	
	$('.datepicker').datepicker({
		format: "dd/mm/yyyy",
		language: "pt-BR",
		autoclose: true
	});
	
	//Mascaras
	$('[data-type="mask"]').each(function( index ) {
		$( this ).mask($( this ).attr('data-mask'));
	});
	
	// Mascara telefone 9 e 8 digito + DDD
	$('#telefoneID').change(function(event) {
		// Volta Mask 9 digito caso esteja preenchido a de 8
		$('#telefoneID').keypress(function(e) {
			if( isTeclaNumber( e.which ) && $(this).val().length == 14 ) {
				$('#telefoneID').mask('(00) 00000-0000');
			}
		});
		
		// Celular com 9 dígitos + 2 dígitos DDD e 4 da máscara
	    if($(this).val().length == 15){ 
		   $('#telefoneID').mask('(00) 00000-0000');
	    } else {
		   $('#telefoneID').mask('(00) 0000-0000');
	    }
	});
	
	// Verifidador email
	// capture all enter and do nothing
	$('#emailID').keypress(function(e) {
	  if(e.which == 13) {
		$('#emailID').trigger('focusout');
		return false;
	  }
	});

	// capture clicks on validate and do nothing
	$("#btnSubmitID").click(function() {
	  return false;
	});
		
	// attach jquery plugin to validate address
	$('#emailID').mailgun_validator({
	  api_key: 'pubkey-a356fcec44f99197a58f4e24a949f3bb', // replace this with your Mailgun public API key
	  in_progress: validation_in_progress,
	  success: validation_success,
	  error: validation_error,
	});
});

$('#btnSubmitID').on("click", function(e) {
	
	var vOK 	= validaCadastro();

	if(vOK == false) {
		return false;
	}else{
		$('#FormID').submit();
	}
});

//Submit formulário
$('#FormID').submit(function() {
	$('#btnSubmitID').html('Aguarde...  <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>');
	$('#btnSubmitID').attr("disabled","disabled");
	$('#cancel').attr("disabled","disabled");
	
	// Retirar mask para salvar
	$('[data-mask-retira="1"]').each(function( index ) {
		$( this ).val($( this ).cleanVal());
	});
	
	$.ajax({
		type:	"POST", 
		url:	"site/dp/cadastro.dp.php",
		data:	$('#FormID').serialize(),
	}).done(function( data, textStatus, jqXHR) {
				
		if (checaRetornoOK(data) == true) {
			$('#divAlertID').addClass('alert alert-success');
			$('#divAlertID').removeClass('hidden');
			$('#alertMsgID').html( getMsgRetorno(data) );
			
			thanksRedirect();
		} else {
			$('#divAlertID').addClass('alert alert-danger');
			$('#divAlertID').removeClass('hidden');
			$('#alertMsgID').html( getMsgRetorno(data) );
			
			//Voltar o botão de salvar
			$('#btnSubmitID').html('<i class="fa fa-check bigger-110"></i> Cadastrar');
			$('#btnSubmitID').attr("disabled",false);
			$('#cancel').attr("disabled",false);
		}
		
	}).fail(function( jqXHR, textStatus, errorThrown) {
		$('#divAlertID').addClass('alert alert-danger');
		$('#divAlertID').removeClass('hidden');
		$('#alertMsgID').html('Ocorreu um erro ao salvar seu cadastro, entre em contato com a equipe.');
			
		$('#btnSubmitID').html('<i class="fa fa-check bigger-110"></i> Cadastrar');
		$('#btnSubmitID').attr("disabled",false);
		$('#cancel').attr("disabled",false);
	});
	
	// Reaplicar mask
	$('[data-mask-retira="1"]').each(function( index ) {
		$( this ).mask($( this ).attr('data-mask'));
		$( this ).trigger('keyup');
	});
	
	return false; 
});

function thanksRedirect() {
  setTimeout(function(){
    document.location.href = '/obrigado?email=' + $('#emailID').val();
  }, 1000);
}

function validaCadastro(){
	var vNome 		  = $('#nomeID').val();	
	var vEmail 		  = $('#emailID').val();
	var vEstado		  = $('#codEstadoID').val();
	var vCidade		  = $('#codCidadeID').val();
	var vTelefone	  = $('#telefoneID').val();
	var vDtNascimento = $('#dataNascimentoID').val();
	var vCodSexo	  = $('#codSexoID').val();
	var vTipoSangue	  = $('#codTipoSangueID').val();
	var vDtUltDoacao  = $('#dataUltDoacaoID').val();
	var vHemocentro   = $('#codHemocentroID').val();
	var vCodTipo	  = $(".checked input[name=tipoUsuario]").val();
	
	var vValidEmail	  = $('#validEmailID').val();
	var vOK			  = true;
	// Zerar alerta erro
	$('#divAlertID').addClass('hidden');
	
	// Nome
	if (!vNome) {
		$('#divNomeID').addClass('has-error');
		$('#divHelpNomeID').html(CriaSpanErro('Nome deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divNomeID').removeClass('has-error');
		$('#divHelpNomeID').html('');		
	}
	
	// Email
	if (!vEmail) {		
		$('#divEmailID').addClass('has-error');
		$('#divHelpEmailID').html(CriaSpanErro('Email deve ser preenchido !!!'));
		vOK		= false;
	}else if (vValidEmail == 0) {	
		$('#divEmailID').addClass('has-error');	
		vOK		= false;
	}else{
		$('#divEmailID').removeClass('has-error');
		$('#divHelpEmailID').html('');		
	}
	
	// Estado
	if (!vEstado) {
		$('#divCodEstadoID').addClass('has-error');
		$('#divHelpCodEstadoID').html(CriaSpanErro('Estado deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divCodEstadoID').removeClass('has-error');
		$('#divHelpCodEstadoID').html('');		
	}
	
	// Cidade
	if (!vCidade) {
		$('#divCodCidadeID').addClass('has-error');
		$('#divHelpCodCidadeID').html(CriaSpanErro('Cidade deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divCodCidadeID').removeClass('has-error');
		$('#divHelpCodCidadeID').html('');		
	}
	
	// Telefone
	if (!vTelefone) {
		$('#divTelefoneID').addClass('has-error');
		$('#divHelpTelefoneID').html(CriaSpanErro('Telefone deve ser preenchido !!!'));
		vOK		= false;
	}else if( !ValidaTelefone(vTelefone) ){
		$('#divTelefoneID').addClass('has-error');
		$('#divHelpTelefoneID').html(CriaSpanErro('Telefone inválido !!!'));
		vOK		= false;
	}else{
		$('#divTelefoneID').removeClass('has-error');
		$('#divHelpTelefoneID').html('');		
	}
	
	// DtNascimento
	if (!vDtNascimento) {
		$('#divDataNascimentoID').addClass('has-error');
		$('#divHelpDataNascimentoID').html(CriaSpanErro('Data de nascimento deve ser preenchido !!!'));
		vOK		= false;
	}else if( vDtNascimento.length < 10 ){
		$('#divDataNascimentoID').addClass('has-error');
		$('#divHelpDataNascimentoID').html(CriaSpanErro('Data de nascimento inválida !!!'));
		vOK		= false;
	}else{
		$('#divDataNascimentoID').removeClass('has-error');
		$('#divHelpDataNascimentoID').html('');		
	}
	
	// Sexo
	if (!vCodSexo) {
		$('#divCodSexoID').addClass('has-error');
		$('#divHelpCodSexoID').html(CriaSpanErro('Sexo deve ser escolhido !!!'));
		vOK		= false;
	}else{
		$('#divCodSexoID').removeClass('has-error');
		$('#divHelpCodSexoID').html('');		
	}
	
	// Tipo Sanguineo
	if (!vTipoSangue) {
		$('#divCodTipoSangueID').addClass('has-error');
		$('#divHelpCodTipoSangueID').html(CriaSpanErro('Tipo sanguíneo deve ser escolhido !!!'));
		vOK		= false;
	}else{
		$('#divCodTipoSangueID').removeClass('has-error');
		$('#divHelpCodTipoSangueID').html('');		
	}

	// Data ultima Doação
	if (!vDtUltDoacao && vCodTipo == "DOA") {
		$('#divDataUltDoacaoID').addClass('has-error');
		$('#divHelpDataUltDoacaoID').html(CriaSpanErro('Data da última doação é obrigatório !!!'));
		vOK		= false;
	}else if( vDtUltDoacao.length < 10 ){
		$('#divDataUltDoacaoID').addClass('has-error');
		$('#divHelpDataUltDoacaoID').html(CriaSpanErro('Data da última doação inválida !!!'));
		vOK		= false;
	}else{
		$('#divDataUltDoacaoID').removeClass('has-error');
		$('#divHelpDataUltDoacaoID').html('');		
	}
	
	// Hemocentro
	if (!vHemocentro && vCodTipo == "DOA" && vHemocentro != 0) {
		$('#divCodHemocentroID').addClass('has-error');
		$('#divCodHelpHemocentroID').html(CriaSpanErro('Local de doação é obrigatório !!!'));
		vOK		= false;
	}else{
		$('#divCodHemocentroID').removeClass('has-error');
		$('#divCodHelpHemocentroID').html('');		
	}
	
	$('[data-toggle="tooltip"]').tooltip(); 
	
	if (vOK == true) {
		return true ;
	}else{
		return false;
	}
}

function buscaCidade(){
	var vEstado		  = $('#codEstadoID').val();
	
	if(vEstado){
		$.ajax({
	        type:"GET",
	        url: "%ROOT_URL%/Adm/getCidade.dp.php",
	        data:{codEstado: vEstado},
		}).done(function( data, textStatus, jqXHR) {
            $('#codCidadeID').html(data);
            
		}).fail(function( jqXHR, textStatus, errorThrown) {
	        $('#codCidadeID').html('<option>Nehuma cidade encontrada!</option>');
	    });
		 
		$('#codCidadeID').removeAttr("disabled");
	}else{
		$('#codCidadeID').attr("disabled", true);
	}
}

function buscaHemocentro(){
	var vEstado		  = $('#codEstadoID').val();
	
	if(vEstado){
		$.ajax({
	        type:"GET",
	        url: "%ROOT_URL%/Adm/getCidadeHemocentro.dp.php",
	        data:{codEstado: vEstado},
		}).done(function( data, textStatus, jqXHR) {
            $('#codHemocentroID').html(data);
            
		}).fail(function( jqXHR, textStatus, errorThrown) {
	        $('#codHemocentroID').html('<option>Nenhum Hemocentro encontrado para esse Estado!</option>');
	    });
		 
		$('#codHemocentroID').removeAttr("disabled");
	}else{
		$('#codHemocentroID').attr("disabled", true);
	}
}

// iChecks
$('#doadorID').on('ifClicked', function(event){
	$('#divDataUltDoacaoID').removeClass('hidden');
	$('#divCodHemocentroID').removeClass('hidden');
});

$('#potencialDoadorID').on('ifClicked', function(event){
	$('#dataUltDoacaoID').val(null);
	$('#codHemocentroID').val(null);
	$('#divDataUltDoacaoID').addClass('hidden');
	$('#divCodHemocentroID').addClass('hidden');
});

$('#receptorID').on('ifClicked', function(event){
	$('#dataUltDoacaoID').val(null);
	$('#codHemocentroID').val(null);
	$('#divDataUltDoacaoID').addClass('hidden');
	$('#divCodHemocentroID').addClass('hidden');
});

/*
$('input[name="tipoUsuario"]').on('ifClicked', function (event) {
	var value = $(this).val();
	alert("You clicked " + value);
});*/

// Email Validator
// enquanto a pesquisa está a efectuar
function validation_in_progress() {
	$('#divHelpEmailID').html("<img src='packages/mailgun-validator/loading.gif' height='16'/>");
	$('#btnSubmitID').html('Aguarde...  <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>');
	$('#btnSubmitID').attr("disabled","disabled");
}

// Se e-mail validado com sucesso
function validation_success(data) {
	if( get_suggestion_str(data['is_valid'], data['did_you_mean']) == true){
		$('#divHelpEmailID').html( ' ' );
		$('#validEmailID').val(1);
	}else if( get_suggestion_str(data['is_valid'], data['did_you_mean']) ){ //Sugestao
		$('#divHelpEmailID').html( CriaSpanErro( get_suggestion_str(data['is_valid'], data['did_you_mean']) ) );
		$('[data-toggle="tooltip"]').tooltip(); 
		$('#validEmailID').val(1);
	}
	
	$('#btnSubmitID').html('<i class="fa fa-check bigger-110"></i> Cadastrar');
	$('#btnSubmitID').attr("disabled",false);
}

// Se e-mail é invalido
function validation_error(error_message) {
	$('#divHelpEmailID').html( CriaSpanErro(error_message) );
	$('[data-toggle="tooltip"]').tooltip(); 
	$('#validEmailID').val(0);
	
	$('#btnSubmitID').html('<i class="fa fa-check bigger-110"></i> Cadastrar');
	$('#btnSubmitID').attr("disabled",false);
}

// Sugestão de email
function get_suggestion_str(is_valid, alternate) {
	if (is_valid) {
	  if (alternate) {
		return 'Você quis dizer: ' + alternate + '?';
	  }else{
		return true;
	  }	  
	} else if (alternate) {
	  return 'Você quis dizer: ' +  alternate + '?';
	} else {
	  validation_error( 'Email inválido' );
	}
}
</script>
