﻿<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!-- Begin Content -->
<aside class="fh5co-page-heading">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="fh5co-page-heading-lead">
					Obrigado 
					<span class="fh5co-border"></span>
				</h1>
				
			</div>
		</div>
	</div>
</aside>

<style>
.mobileimage {
    background: rgba(0, 0, 0, 0) url("imgs/web/logo/Logo%20-%20Only%20154x154.png") no-repeat scroll 8px 5px;
    display: inline-block;
    height: 192px;
    margin-left: 5px;
    margin-top: 34px;
    width: 192px;
}
</style>

<div id="fh5co-main">	
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-md-push-2">	
				<div class="row">
					<div class="maindiv">
						<div style="border-right:1px solid #8d8d8d;width: 235px;float: left;">
							<div class="title-banner">
								
							</div>
							<div class="mobileimage"></div>
						</div>
						<div style="margin:0px 0 0 282px;">
							<div style="width: 600px;line-height: 22px;float: left;">
								<div style="margin-top: 20px;">
									Olá %NOME%! <span style="font-weight:bold;"></span>
								</div>
								<div align="Justify" style="margin-top: 10px;">
									Parabéns! Seu cadastro foi efetuado com sucesso e acredite, 
									este seu ato é de extrema importância para alguém. <br />
									Em poucos instantes enviaremos um e-mail para ativação da sua conta.
								</div>
								<div style="font-size: 14px;margin-top: 50px;">
									Use e compartilhe o Doador Online!
								</div>
								<div class="fb-like" data-href="https://doadoronline.com.br" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
							</div>
						</div>
					</div>					
				</div>		
			</div>
		</div>
	</div>
</div>
<div class="fh5co-spacer fh5co-spacer-md"></div>
<!-- End Content -->
