
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);
    .font-roboto {
      font-family: 'roboto condensed';
    }

    .modal * {
      box-sizing: border-box;
    }

    .modal {
      .font-roboto();
    }

    .modal {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
    }
    .modal .modal-cadastro {
      position: fixed;
      margin-left: 23%;
      margin-top: 0%;
      width: 50%;
      height: 100%;
      padding: 0;
    }
    .modal .modal-dialog {
      position: fixed;
      margin-left: 15%;
      margin-top: 0%;
      width: 70%;
      height: 100%;
      padding: 0;
    }
    .modal .modal-login{
      position: fixed;
      margin-left: 60%;
      margin-top: 5%;
      width: 40%;
      height: 55%;
      padding: 0;
    }

    .modal .modal-content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid #ffffff;
      border-radius: 0;
      box-shadow: none;
    }

    .modal .modal-header {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 50px;
      padding: 10px;
      border: 0;
    }

    .modal .modal-title {
      font-weight: 300;
      font-size: 2em;
      color: #000;
      line-height: 30px;
    }
    .modal .modal-body a {
      color: black;
    }
    .modal .modal-body a:hover {
      color: red;
    }
    .modal .modal-body {
      position: absolute;
      top: 50px;
      bottom: 60px;
      width: 100%;
      font-weight: 300;
      overflow: auto;
    }

    .modal .modal-footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 60px;
      padding: 10px;
      background: #f1f3f5;
    }

    .modal .btn {
      height: 40px;
      border-radius: 0;
      // focus
      &:focus,
      &:active,
      &:active:focus {
        box-shadow: none;
        outline: none;
      }
    }

    .modal .btn-modal {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      margin-left: -100px;
      width: 200px;
    }

    .modal .btn-primary,
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active {
      font-weight: 300;
      font-size: 1.6rem;
      color: #fff;
      color: lighten(#484b5b, 20%);
      color: #fff;
      text-align: center;
      background: #60cc69;
      border: 1px solid #36a940;
      border-bottom: 3px solid #36a940;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
      // active
      &:active {
        border-bottom: 1px solid #36a940;
      }
    }

    .modal .btn-default,
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active {
      font-weight: 300;
      font-size: 1.6rem;
      color: red;
      text-align: center;
      background: darken(#dcdfe4, 10%);
      border: 1px solid darken(#dcdfe4, 20%);
      border-bottom: 3px solid darken(#dcdfe4, 20%);
      // active
      &:active {
        border-bottom: 1px solid darken(#dcdfe4, 20%);
      }
    }

    .btn-secondary,
    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active {
      color: #cc7272;
      background: transparent;
      border: 0;
    }

    .modal h1,
    .modal h2,
    .modal h3 {
      color: red;
      line-height: 1.5;
      // first
      &:first-child {
        margin-top: 0;
      }
    }

    .modal p {
      font-size: 1em;
      line-height: 1.5;
      color: lighten(#5f6377, 20%);
      // last
      &:last-child {
        margin-bottom: 0;
      }
    }

    .modal ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
      background: #f1f3f5;
      border-left: 1px solid darken(#f1f3f5, 10%);
    }

    .modal ::-webkit-scrollbar-thumb {
      background: darken(#f1f3f5, 20%);
    }