<!-- Page Heading Start -->
<div class="page-heading">
	<h1><i class='glyphicon glyphicon-heart'></i> Doação de Sangue 
		<a id='a01ID' class='btn btn-default' title="Novo índice" href="javascript:LoadUrl('%URLNOVO%');"><i class="fa fa-file bigger-130"></i></a>
	</h1>
</div>
<!-- Page Heading End-->

<!-- Your awesome content goes here -->
<div class="row">
	<div class="col-sm-12">
		<div class="widget">
			<div class="widget-header transparent">
				<h2>
					<strong>Informações </strong>Gerais
				</h2>
			</div>
			<div class="widget-content padding">
				<div id="horizontal-form">
					<form class="form-horizontal" role="form" id="FormID">
					<input type="hidden" id="codDoacaoID" name="codDoacao" value="%COD_DOACAO%">
						<div class="col-sm-9">
							<div class="form-group col-sm-12" id="divPacienteID">
								<label for="input-text" class="col-sm-3 control-label">Paciente</label>
								<div class="col-sm-9 pull-left">
									<div class="radio iradio">
									  <label>
										<input type="radio" name="pacienteTipo" id="pacienteEuID" value="1" checked>
										Eu
									  </label>
									  <label>
										<input type="radio" name="pacienteTipo" id="pacienteParenteID" value="2">
										Parente
									  </label>
									  <label>
										<input type="radio" name="pacienteTipo" id="pacienteAmigoID" value="3">
										Amigo(a)
									  </label>
									  <label>
										<input type="radio" name="pacienteTipo" id="pacienteOutroID" value="4">
										Outro
									  </label>
									</div>
								</div>
						    </div>
							<div class="form-group col-sm-12" id="divNomeID">
								<label for="input-text" class="col-sm-3 control-label">Nome</label>
								<div class="col-sm-9 pull-left">
									<input type="text" class="form-control" readonly maxlength="200" id="nomeID" name="nome" value="%NOME%" placeholder="Nome">
									<div id="divHelpNomeID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12" id="divCodEstadoID">
								<label for="input-text" class="col-sm-3 control-label">Estado</label>
								<div class="col-sm-9 pull-left">
									<select id="codEstadoID" name="codEstado" onchange="checkedEstado();" data-width="100%" data-live-search="true" class="selectpicker show-tick show-menu-arrow">
										%COD_ESTADO%
									</select>
									<div id="divHelpCodEstadoID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12 hidden" id="divCodCidadeID">
								<label for="input-text" class="col-sm-3 control-label">Cidade</label>
								<div class="col-sm-9 pull-left">
									<select id="codCidadeID" name="codCidade" onChange="buscarHemocentro();" data-width="100%" data-live-search="true" class="selectpicker show-tick show-menu-arrow">
									
									</select>
									<!-- 
									<input type="hidden" id="cidadeID" name="cidade" value="%CIDADE%" class="width-100" data-rel="select2Cidade">	
									
									<div id="divCidadesID"></div>-->
									<div id="divHelpCodCidadeID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12 hidden" id="divCodHemocentroID">
								<label for="input-text" class="col-sm-3 control-label">Hemocentro</label>
								<div class="col-sm-9 pull-left">
									<select id="codHemocentroID" name="codHemocentro" onChange="buscarDescricao();" data-width="100%" data-live-search="true" class="selectpicker show-tick show-menu-arrow">
									
									</select>
									<!-- <div id="divHemocentrosID"></div>-->
									<div id="divHelpCodHemocentroID"></div>
								</div>
							</div>
							
							<div id="divHemocentroDescricao" class="col-md-offset-2"></div>
							
							<div class="form-group col-sm-12" id="divCodTipoSangueID">
								<label for="input-text" class="col-sm-3 control-label">Tipo Sanguíneo</label>
								<div class="col-sm-9 pull-left">
									<select id="codTipoSangueID" name="codTipoSangue" data-width="100%" data-live-search="true" class="selectpicker show-tick show-menu-arrow">
										%COD_TIPO_SANGUE%
									</select>
									<div id="divHelpCodTipoSangueID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12" id="divDataPrazoID">
								<label for="input-text" class="col-sm-3 control-label">Data Prazo</label>
								<div class="col-sm-9 pull-left">
									<input type="text" class="form-control datepicker-input" maxlength="10" id="dataPrazoID" name="dataPrazo" data-type="mask" data-mask="99/99/9999" data-mask-retira="0" placeholder="Data Prazo">
									<small class="text-info">Defina o último dia que pode realizar a doação.</small>
									<div id="divHelpDataPrazoID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12" id="divRelatoID">
								<label for="input-text" class="col-sm-3 control-label">Breve Relato</label>
								<div class="col-sm-9 pull-left">
									<textarea id="relatoID" name="relato" class="form-control" maxlength="300" style="height: 140px; resize: none;" placeholder="Descreva a necessidade da doação de sangue."></textarea>
									<div id="divHelpRelatatoID"></div>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-offset-9 col-sm-10">
								<button type="button" id="btnSubmitID" class="btn btn-info">
									<i class="fa fa-check bigger-110"></i> Finalizar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="%CHARSET%">
//Check radio http://www.mnogoznai.bg/assets/js/libs/iCheck-master/demo/#skins
//DATEPICKER https://silviomoreto.github.io/bootstrap-select/
$('.datepicker-input').datepicker();

//ICHECK
$('input:not(.ios-switch)').iCheck({
  checkboxClass: 'icheckbox_square-aero',
  radioClass: 'iradio_square-aero',
  increaseArea: '20%' // optional
});

//SELECT
$('.selectpicker').selectpicker({style: 'btn-inverse border-gray-1',size: 4});

//Mascaras
$('[data-type="mask"]').each(function( index ) {
	$( this ).mask($( this ).attr('data-mask'));
});

$('#btnSubmitID').on("click", function(e) {
	
	var vOK 	= validaDoacao();
	
	if(vOK == false) {
		return false;
	}else{
		$('#FormID').submit();
	}
});

//Submit formulário
$('#FormID').submit(function() {
	$('#btnSubmitID').html('Aguarde...  <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>');
	$('#btnSubmitID').attr("disabled","disabled");
	$('#cancel').attr("disabled","disabled");
	
	// Retirar mask para salvar
	$('[data-mask-retira="1"]').each(function( index ) {
		$( this ).val($( this ).cleanVal());
	});
	
	$.ajax({
		type:	"POST", 
		url:	"%DP%",
		data:	$('#FormID').serialize(),
	}).done(function( data, textStatus, jqXHR) {
		if (checaRetornoOK(data) == true) {
			//$('#codDoacaoID').val(GetCodRetorno(data));
			//MostraAviso("Fechar",'Nova Doação', '%URLNOVO%');
			LoadUrl('%ROOT_URL%/Doa/doarSangueConf.php?id='+EncodeUrl('&codDoacao='+GetCodRetorno(data)));
		}else{
			MostraAviso("Fechar");
		}
		
		$('#DivModalID').on('hidden.bs.modal', function () {
			LimpaModalAviso();
			$('#DivModalID').off('hidden.bs.modal');
		});

		//Voltar o botão de salvar
		$('#btnSubmitID').html('<i class="fa fa-check bigger-110"></i> Finalizar ');
		$('#btnSubmitID').attr("disabled",false);
		$('#cancel').attr("disabled",false);
		
	}).fail(function( jqXHR, textStatus, errorThrown) {
		MostraAviso(null);
	});
	
	// Reaplicar mask
	$('[data-mask-retira="1"]').each(function( index ) {
		$( this ).mask($( this ).attr('data-mask'));
		$( this ).trigger('keyup');
	});
	
	return false; 
});

function validaDoacao(){
	var vNome 		  = $('#nomeID').val();	
	var vEstado		  = $('#codEstadoID').val();
	var vCidade		  = $('#codCidadeID').val();	
	var vTipoSangue	  = $('#codTipoSangueID').val();	
	var vDataPrazo	  = $('#dataPrazoID').val();	
	var vOK			  = true;

	// Nome
	if (!vNome) {
		$('#divNomeID').addClass('has-error');
		$('#divHelpNomeID').html(CriaSpanErro('Nome deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divNomeID').removeClass('has-error');
		$('#divHelpNomeID').html('');		
	}
	
	// Estado
	if (!vEstado) {
		$('#divCodEstadoID').addClass('has-error');
		$('#divHelpCodEstadoID').html(CriaSpanErro('Estado deve ser escolhido !!!'));
		vOK		= false;
	}else{
		$('#divCodEstadoID').removeClass('has-error');
		$('#divHelpCodEstadoID').html('');		
	}
	
	// Cidade
	if (!vCidade) {
		$('#divCodCidadeID').addClass('has-error');
		$('#divHelpCodCidadeID').html(CriaSpanErro('Cidade deve ser escolhido !!!'));
		vOK		= false;
	}else{
		$('#divCodCidadeID').removeClass('has-error');
		$('#divHelpCodCidadeID').html('');		
	}
	
	// vTipoSanguineo
	if (!vTipoSangue) {
		$('#divCodTipoSangueID').addClass('has-error');
		$('#divHelpCodTipoSangueID').html(CriaSpanErro('Tipo Sanguíneo deve ser escolhido !!!'));
		vOK		= false;
	}else{
		$('#divCodTipoSangueID').removeClass('has-error');
		$('#divHelpCodTipoSangueID').html('');		
	}
	
	// vDataPrazo
	if (!vDataPrazo) {
		$('#divDataPrazoID').addClass('has-error');
		$('#divHelpDataPrazoID').html(CriaSpanErro('Data Prazo deve ser preenchida !!!'));
		vOK		= false;
	}else{
		$('#divDataPrazoID').removeClass('has-error');
		$('#divHelpDataPrazoID').html('');		
	}
	
	if (vOK == true) {
		return true ;
	}else{
		return false;
	}
}

function checkedEstado(){
	var vEstado		  = $('#codEstadoID').val();
	
	if(vEstado){
		$.ajax({
	        type:"GET",
	        url: "%ROOT_URL%/Adm/getCidade.dp.php",
	        data:{codEstado: vEstado, indHemocentro: 1},
		}).done(function( data, textStatus, jqXHR) {
			$('#codCidadeID').html(data).selectpicker('refresh');
            
		}).fail(function( jqXHR, textStatus, errorThrown) {
	        $('#codCidadeID').html('Nehuma cidade encontrada!').selectpicker('refresh');
	    });
		
		 $('.selectpicker').selectpicker({
 	    	style: 'btn-inverse border-gray-1',
 	    	size: 4
 	    });
		 
		$('#divCodCidadeID').removeClass("hidden");
	}else{
		$('#divCodCidadeID').addClass("hidden");
	}
}

function buscarHemocentro(){
	var vEstado		  = $('#codEstadoID').val();
	var vCidade		  = $('#codCidadeID').val();
	
	if(vEstado && vCidade){
		$.ajax({
	        type:"GET",
	        url: "%ROOT_URL%/Adm/getCidadeHemocentro.dp.php",
	        data:{codEstado: vEstado, codCidade: vCidade},
		}).done(function( data, textStatus, jqXHR) {
            $('#codHemocentroID').html(data).selectpicker('refresh');
            
		}).fail(function( jqXHR, textStatus, errorThrown) {
	        $('#codHemocentroID').html('Nehum hemocentro encontrado!');
	    });
		
		 $('.selectpicker').selectpicker({
 	    	style: 'btn-inverse border-gray-1',
 	    	size: 4
 	    });
		 
		$('#divCodHemocentroID').removeClass("hidden");
	}else{
		$('#divCodHemocentroID').addClass("hidden");
	}
}

function buscarDescricao(){
	var vHemocentro		  = $('#codHemocentroID').val();
	
	if(vHemocentro){
		$.ajax({
	        type:"GET",
	        url: "%ROOT_URL%/Adm/getHemocentro.dp.php",
	        data:{codHemocentro: vHemocentro},
		}).done(function( data, textStatus, jqXHR) {
            $('#divHemocentroDescricao').html(data);

		}).fail(function( jqXHR, textStatus, errorThrown) {
	        $('#divHemocentroDescricao').html('Nehum hemocentro encontrado!');
	    });
		
	}else{
		$('#divHemocentroDescricao').html("");
	}
}

/*********************************************************
* Busca Select2 typehead Cursos
*********************************************************/
/*$('[data-rel="select2Cidade"]').css('width','100%').select2({
    //minimumInputLength: 2,
    placeholder: 'Selecione a cidade',
    allowClear: true,
    ajax: { // instead of writing the function to execute the request we use Select2's convenient helper
        url: "%ROOT_URL%/Adm/getCidade.dp.php",
        dataType: 'json',
        quietMillis: 250,
        data: function (term, page) {
            return {
            	codEstado: $('#codEstadoID').val(), // search term
            };
        },
        results: function (data) {
			return {results: data};
		},
        cache: true
    },
});*/

$('#pacienteEuID').on('ifClicked', function(event){
	$('#nomeID').val("%NOME%");
	$('#nomeID').attr("readonly", true);
});

$('#pacienteParenteID').on('ifClicked', function(event){
	$('#nomeID').val("");
	$('#nomeID').removeAttr("readonly");
});

$('#pacienteAmigoID').on('ifClicked', function(event){
	$('#nomeID').val("");
	$('#nomeID').removeAttr("readonly");
});

$('#pacienteOutroID').on('ifClicked', function(event){
	$('#nomeID').val("");
	$('#nomeID').removeAttr("readonly");
});

</script>
