<!-- Your awesome content goes here -->
<div class="row">
	<div class="col-sm-12">
		<div class="widget">
			<div class="user-profile-content">
				<div class="page-heading">
			     	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			     		<i class='icon-cancel-2'></i>
					</button>
			   		<h1>
						<i class='fa fa-info'></i> Informações do Beneficiário
					</h1>
				</div>
				<!-- Page Heading End-->
				<hr />
				<h5><strong>Info Pessoal</strong></h5>
				<div id="divPessoalID" class="row col-md-offset-2">
					<div class="col-sm-7">
						<h5><strong>Nome</strong> Beneficiário</h5>
						<p><b>%NOME%</b></p>
						
						<h5><strong>EMAIL</strong></h5>
						<p>%EMAIL%</p>
					</div>
					
					<div class="col-sm-5">
						<h5><strong>CONTATO</strong></h5>
						<p>%TELEFONE%</p>
					</div>
				</div>
				
				<hr />
				<h5><strong>Info Pedido de doação</strong></h5>
				<div id="divSolicitacaoID" class="row col-md-offset-2">
					<div class="col-sm-7">
						<h5><strong>Codigo</strong> Solicitação</h5>
						<p><b>#%COD_SOLICITACAO%</b></p>
						
						<h5><strong>Hemocentro</strong></h5>
						<p><b style="color:gray;">%HEMOCENTRO%</b></p>
						
						<h5><strong>Tipo</strong> Sanguíneo</h5>
						<p><b style="color:red;">%TIPO_SANGUE%</b></p>
						
						<h5><strong>Mensagem</strong></h5>
						<p>%RELATO%</p>
					</div>
					<div class="col-sm-5">
						<h5><strong>Status</strong></h5>
						<p>%STATUS%</p>
												
						<h5><strong>Local</strong></h5>
						<p><b style="color:gray;">%CIDADE% - %ESTADO%</b></p>
						
						<h5><strong>Data</strong> Solicitação</h5>
						<p>%DATA_SOLICITACAO%</p>
						
						<h5><strong>Data</strong> Prazo</h5>
						<p>%DATA_PRAZO%</p>
					</div>
				</div><!-- End div .row -->
			</div>
		</div>
	</div>
</div>
