<style>
body { overflow-x: hidden; }
</style>

<div class="page-heading">
	<h1><i class='glyphicon glyphicon-heart'></i> Pedir Doação</h1>
</div>
<!-- Page Heading End-->				
<div class="row">
	<div class="col-md-12 portlets">
		<!-- Your awesome content goes here -->
		<div class="widget animated fadeInDown">
			<form class="form-horizontal" role="form" id="FormID">
				<input type="hidden" id="valID">
				<section class="step" data-step-title="Minhas Informações">
					<div class="row">
						<div class="col-sm-9">
							<div class="form-group col-sm-12" id="divPacienteID">
								<label for="input-text" class="col-sm-3 control-label">Para quem é a doação?</label>
								<div class="col-sm-9 pull-left">
									<div class="radio iradio">
									  <label>
										<input type="radio" name="pacienteTipo" id="pacienteEuID" value="1" checked>
										Eu
									  </label>
									  <label>
										<input type="radio" name="pacienteTipo" id="pacienteParenteID" value="2">
										Parente
									  </label>
									  <label>
										<input type="radio" name="pacienteTipo" id="pacienteAmigoID" value="3">
										Amigo(a)
									  </label>
									  <label>
										<input type="radio" name="pacienteTipo" id="pacienteOutroID" value="4">
										Outro
									  </label>
									</div>
								</div>
						    </div>
							<div class="form-group col-sm-12" id="divNomeID">
								<label for="input-text" class="col-sm-3 control-label">Nome</label>
								<div class="col-sm-9 pull-left">
									<input type="text" class="form-control" readonly maxlength="200" id="nomeID" name="nome" value="%NOME%" placeholder="Nome">
									<div id="divHelpNomeID"></div>
								</div>
							</div>
							
							<div class="form-group col-sm-12" id="divCodTipoSangueID">
								<label for="input-text" class="col-sm-3 control-label">Tipo Sanguíneo</label>
								<div class="col-sm-9 pull-left">
									<select id="codTipoSangueID" name="codTipoSangue" data-width="100%" data-container="body" data-live-search="true" class="selectpicker show-tick show-menu-arrow">
										%COD_TIPO_SANGUE%
									</select>
									<div id="divHelpCodTipoSangueID"></div>
								</div>
							</div>
							
							<div class="form-group col-sm-12" id="divCodEstadoID">
								<label for="input-text" class="col-sm-3 control-label">Estado</label>
								<div class="col-sm-9 pull-left">
									<select id="codEstadoID" name="codEstado" onchange="checkedEstado();buscaCompativel();" data-width="100%" data-container="body" data-live-search="true" class="selectpicker show-tick show-menu-arrow">
										%COD_ESTADO%
									</select>
									<div id="divHelpCodEstadoID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12 hidden" id="divCodCidadeID">
								<label for="input-text" class="col-sm-3 control-label">Local de Doação</label>
								<div class="col-sm-9 pull-left">
									<select id="codCidadeID" name="codCidade" onChange="buscarHemocentro();" data-width="100%" data-container="body" data-live-search="true" class="selectpicker show-tick show-menu-arrow">
									
									</select>
									<div id="divHelpCodCidadeID"></div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="step" data-step-title="Doadores">
					<div class="row">
						<div class="form-group col-sm-8 hidden" id="divDoadoresID">
							<label for="input-text" class="col-sm-12 pull-left">Doadores Disponíveis</label>
							<div class="col-sm-12">
								<input type="hidden" id="quantidadeID" name="quantidade">	
								<div id="divListaDoadoresID"></div>
								<div id="divHelpDoadoresID"></div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="notes">
								<h4><strong>Expecificações</strong></h4>
								<ol>
									<li>Por segurança nenhum nome dos doadores é exibido</li>
									<li>A escolha é feita com base no sangue compatível e seu Estado</li>
									<li>Marque até no máximo 5 doadores para enviar o pedido</li>
								</ol>
							</div>
						</div>
					</div>
				</section>
				<section class="step" data-step-title="Para o Doador">
					<div class="row">
						<div class="form-group col-sm-12 hidden" id="divCodHemocentroID">
							<label for="input-text" class="col-sm-3 control-label">Hemocentro</label>
							<div class="col-sm-9 pull-left">
								<select id="codHemocentroID" name="codHemocentro" onChange="buscarDescricao();" data-container="body" data-width="100%" data-live-search="true" class="selectpicker show-tick show-menu-arrow">
								
								</select>
								<small class="text-info">Escolha o hemocentro de sua preferência.</small>
								<!-- <div id="divHemocentrosID"></div>-->
								<div id="divHelpCodHemocentroID"></div>
							</div>
						</div>
						
						<div id="divHemocentroDescricao" class="col-md-offset-3"></div>
						
						<div class="form-group col-sm-12" id="divDataPrazoID">
							<label for="input-text" class="col-sm-3 control-label">Data</label>
							<div class="col-sm-9 pull-left">
								<input type="text" class="form-control datepicker-input" maxlength="10" id="dataPrazoID" name="dataPrazo" data-type="mask" data-mask="99/99/9999" data-mask-retira="0" placeholder="Data Prazo">
								<small class="text-info">Defina o último dia que pode receber a doação.</small>
								<div id="divHelpDataPrazoID"></div>
							</div>
						</div>
						<div class="form-group col-sm-12" id="divRelatoID">
							<label for="input-text" class="col-sm-3 control-label">Mensagem</label>
							<div class="col-sm-9 pull-left">
								<textarea id="relatoID" name="relato" class="form-control" maxlength="300" style="height: 140px; resize: none;" placeholder="Descreva a necessidade da doação de sangue. Encontrando doadores de outras cidades, questionar se o mesmo tem a disponibiblidade em doar no local que deseja receber a doação."></textarea>
								<div id="divHelpRelatatoID"></div>
							</div>
						</div>
					</div>

				</section>
			</form>
		</div>
	</div>
</div>

<script src="%PKG_URL%/assets/libs/jquery-wizard/jquery.easyWizard.js"></script>
<script type="text/javascript" charset="%CHARSET%">

$(function() {
	$('#FormID').easyWizard({
		buttonsClass: 'btn btn-default',
		submitButtonClass: 'btn btn-primary',		
		submitButtonText: 'Finalizar',
		submitType: 'button',
		submitID: 'btnSubmitID'
	});
});

$('.datepicker-input').datepicker();

//ICHECK
$('input:not(.ios-switch)').iCheck({
  checkboxClass: 'icheckbox_square-aero',
  radioClass: 'iradio_square-aero',
  increaseArea: '20%' // optional
});

//SELECT
$('.selectpicker').selectpicker({style: 'btn-inverse border-gray-1',size: 4});

//Mascaras
$('[data-type="mask"]').each(function( index ) {
	$( this ).mask($( this ).attr('data-mask'));
});

$('#btnSubmitID').on("click", function(e) {
	var vQuantidade	  = $('#quantidadeID').val();
	var vOK 		  = validaSolicitacao();
	
	vOk = false;
	
	if(vOK == false) {
		return false;
	}else{
		/*if (vQuantidade == 0) {
			$(document).on('click', '.notifyjs-metro-base .no', function() {
			  $(this).trigger('notify-hide');
			  return false;
			});
			$('#clickYes').on('click', function() {
			  $(this).trigger('notify-hide');
			  $('#FormID').submit();
			});
		}else {*/
			$('#FormID').submit();
		//}
	}
});

//Submit formulário
$('#FormID').submit(function() {
	$('#btnSubmitID').html('Aguarde...  <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>');
	$('#btnSubmitID').attr("disabled","disabled");
	$('#cancel').attr("disabled","disabled");
	
	// Retirar mask para salvar
	$('[data-mask-retira="1"]').each(function( index ) {
		$( this ).val($( this ).cleanVal());
	});
	
	$.ajax({
		type:	"POST", 
		url:	"%DP%",
		data:	$('#FormID').serialize(),
	}).done(function( data, textStatus, jqXHR) {
		if (checaRetornoOK(data) == true) {
			MostraAviso("Fechar");
			//LoadUrl('%ROOT_URL%/Rec/solicitarSangueConf.php?id=%ID%'+EncodeUrl('&codSolicitacao='+GetCodRetorno(data)));
		}else{
			MostraAviso("Fechar");
		}
		
		$('#DivModalID').on('hidden.bs.modal', function () {
			LimpaModalAviso();
			$('#DivModalID').off('hidden.bs.modal');
		});

		//Voltar o botão de salvar
		$('#btnSubmitID').html('<i class="fa fa-check bigger-110"></i> Finalizar ');
		$('#btnSubmitID').attr("disabled",false);
		$('#cancel').attr("disabled",false);
		
	}).fail(function( jqXHR, textStatus, errorThrown) {
		MostraAviso(null);
	});
	
	// Reaplicar mask
	$('[data-mask-retira="1"]').each(function( index ) {
		$( this ).mask($( this ).attr('data-mask'));
		$( this ).trigger('keyup');
	});
	
	return false; 
});

function validaSolicitacao(){
	var vNome 		  = $('#nomeID').val();	
	var vEstado		  = $('#codEstadoID').val();
	var vCidade		  = $('#codCidadeID').val();	
	var vTipoSangue	  = $('#codTipoSangueID').val();	
	var vDataPrazo	  = $('#dataPrazoID').val();
	var vQuantidade	  = $('#quantidadeID').val();	
	var vDoadores	  = $("input[name='codUsuario\\[\\]']:checked");
	var vWizard		  = 0;
	var vFilaEspera	  = false;
	var vOK			  = true;
	
	// Nome
	if (!vNome) {
		$('#divNomeID').addClass('has-error');
		$('#divHelpNomeID').html(CriaSpanErro('Nome deve ser preenchido !!!'));
		vOK		= false;
		vWizard = 1;
	}else{
		$('#divNomeID').removeClass('has-error');
		$('#divHelpNomeID').html('');		
	}
	
	// Estado
	if (!vEstado) {
		$('#divCodEstadoID').addClass('has-error');
		$('#divHelpCodEstadoID').html(CriaSpanErro('Estado deve ser escolhido !!!'));
		vOK		= false;
		vWizard = 1;
	}else{
		$('#divCodEstadoID').removeClass('has-error');
		$('#divHelpCodEstadoID').html('');		
	}
	
	// Cidade
	if (!vCidade) {
		$('#divCodCidadeID').addClass('has-error');
		$('#divHelpCodCidadeID').html(CriaSpanErro('Cidade deve ser escolhido !!!'));
		vOK		= false;
		vWizard = 1;
	}else{
		$('#divCodCidadeID').removeClass('has-error');
		$('#divHelpCodCidadeID').html('');		
	}
	
	// vTipoSanguineo
	if (!vTipoSangue) {
		$('#divCodTipoSangueID').addClass('has-error');
		$('#divHelpCodTipoSangueID').html(CriaSpanErro('Tipo Sanguíneo deve ser escolhido !!!'));
		vOK		= false;
		vWizard = 1;
	}else{
		$('#divCodTipoSangueID').removeClass('has-error');
		$('#divHelpCodTipoSangueID').html('');		
	}
	
	// Quantidade
	if ((vTipoSangue && vQuantidade == 0) || (vTipoSangue && vQuantidade == 'undefined')) {
		$('#divListaDoadoresID').addClass('has-error');
		$('#divHelpDoadoresID').html(CriaSpanErro('Não existe nenhum doador compativel !!!'));
		vOK		= false;
		vFilaEspera	= true;
		vWizard = 2;
	}else{
		if ( vDoadores.length > 5 ){
			$('#divListaDoadoresID').addClass('has-error');
			$('#divHelpDoadoresID').html(CriaSpanErro('<i class="fa fa-exclamation-circle" style="color:red" aria-hidden="true"></i> Você só pode marcar até 5(cinco) doadores !!!'));
			vOK		= false;
			vFilaEspera	= false;
			vWizard = 2;
		}else{
			$('#divListaDoadoresID').removeClass('has-error');
			$('#divHelpDoadoresID').html('');	
			vFilaEspera	= false;
		}
	}
	
	// vDataPrazo
	if (!vDataPrazo) {
		$('#divDataPrazoID').addClass('has-error');
		$('#divHelpDataPrazoID').html(CriaSpanErro('Data Prazo deve ser preenchida !!!'));
		vOK		= false;
		vWizard = 3;
	}else{
		$('#divDataPrazoID').removeClass('has-error');
		$('#divHelpDataPrazoID').html('');		
	}
		
	if (vOK == true) {
		/*if(vFilaEspera == true){
			nconfirm('Doador não encontrado.', 'Deseja ir para fila de espera, para aguardar seu tipo sanguíneo? (Será postado em nossa página do Facebook)');
		}*/
		return true ;
	}else{
		if(vFilaEspera == true){
			notify('error', 'top right', 'Doador não encontrado.', 'No momento não temos nenhum doador compatível disponível!');
		}
			if (vWizard == 1) $('#FormID').easyWizard('goToStep', 1);
		else if (vWizard == 2) $('#FormID').easyWizard('goToStep', 2);
			
		return false;
	}
}

function buscaCompativel(){
	var vSangue		  = $('#codTipoSangueID').val();
	var vEstado		  = $('#codEstadoID').val();
	var alert		  = null;
	
	if(vSangue){
		$.ajax({
	        type:"GET",
	        url: "%ROOT_URL%/App/getDoadores.dp.php",
	        data:{codSangue: vSangue, codEstado: vEstado},
		}).done(function( data, textStatus, jqXHR) {
			
			var vData	= JSON.parse(data);
			$('#quantidadeID').val( vData['quantidade'] );
			$('#divListaDoadoresID').html( vData['text'] );
			
		}).fail(function( jqXHR, textStatus, errorThrown) {
	        $('#divListaDoadoresID').html('<span class="label label-danger">Nada foi encontrado.</span>');
	    });
		$('#divDoadoresID').removeClass("hidden");
	}else{
		$('#divDoadoresID').addClass("hidden");
	}
}

function checkedEstado(){
	var vEstado		  = $('#codEstadoID').val();
	
	if(vEstado){
		$.ajax({
	        type:"GET",
	        url: "%ROOT_URL%/Adm/getCidade.dp.php",
	        data:{codEstado: vEstado, indHemocentro: 1},
		}).done(function( data, textStatus, jqXHR) {
			$('#codCidadeID').html(data).selectpicker('refresh');
            
		}).fail(function( jqXHR, textStatus, errorThrown) {
	        $('#codCidadeID').html('Nehuma cidade encontrada!').selectpicker('refresh');
	    });
		
		 $('.selectpicker').selectpicker({
 	    	style: 'btn-inverse border-gray-1',
 	    	size: 4
 	    });
		 
		$('#divCodCidadeID').removeClass("hidden");
	}else{
		$('#divCodCidadeID').addClass("hidden");
	}
}

function buscarHemocentro(){
	var vEstado		  = $('#codEstadoID').val();
	var vCidade		  = $('#codCidadeID').val();
	
	if(vEstado && vCidade){
		$.ajax({
	        type:"GET",
	        url: "%ROOT_URL%/Adm/getCidadeHemocentro.dp.php",
	        data:{codEstado: vEstado, codCidade: vCidade},
		}).done(function( data, textStatus, jqXHR) {
            $('#codHemocentroID').html(data).selectpicker('refresh');
            
		}).fail(function( jqXHR, textStatus, errorThrown) {
	        $('#codHemocentroID').html('Nehum hemocentro encontrado!');
	    });
		
		 $('.selectpicker').selectpicker({
 	    	style: 'btn-inverse border-gray-1',
 	    	size: 4
 	    });
		 
		$('#divCodHemocentroID').removeClass("hidden");
	}else{
		$('#divCodHemocentroID').addClass("hidden");
	}
}

function buscarDescricao(){
	var vHemocentro		  = $('#codHemocentroID').val();
	
	if(vHemocentro){
		$.ajax({
	        type:"GET",
	        url: "%ROOT_URL%/Adm/getHemocentro.dp.php",
	        data:{codHemocentro: vHemocentro},
		}).done(function( data, textStatus, jqXHR) {
            $('#divHemocentroDescricao').html(data);

		}).fail(function( jqXHR, textStatus, errorThrown) {
	        $('#divHemocentroDescricao').html('Nehum hemocentro encontrado!');
	    });
		
	}else{
		$('#divHemocentroDescricao').html("");
	}
}

$('#pacienteEuID').on('ifClicked', function(event){
	$('#nomeID').val("%NOME%");
	$('#nomeID').attr("readonly", true);
});

$('#pacienteParenteID').on('ifClicked', function(event){
	$('#nomeID').val("");
	$('#nomeID').removeAttr("readonly");
});

$('#pacienteAmigoID').on('ifClicked', function(event){
	$('#nomeID').val("");
	$('#nomeID').removeAttr("readonly");
});

$('#pacienteOutroID').on('ifClicked', function(event){
	$('#nomeID').val("");
	$('#nomeID').removeAttr("readonly");
});

</script>
