.notes {
  padding: 15px;
  border: 1px dashed #ddd;
}
section.step {
  padding: 0 30px;
}
.the-notes {
  padding: 15px 15px 15px 30px;
  border-left: 4px solid #909090;
  margin-bottom: 20px;
}
.the-notes.default {
  background: #fff;
}
.the-notes.success {
  background: #fff;
  border-left-color: #65BD77;
}
.the-notes.warning {
  background: #fff;
  border-left-color: #F7CB17;
}
.the-notes.danger {
  background: #fff;
  border-left-color: #D9534F;
}
.the-notes.info {
  background: #fff;
  border-left-color: #4393D8;
}
.the-notes.success h4 {
  color: #65BD77;
}
.the-notes.warning h4 {
  color: #F7CB17;
}
.the-notes.danger h4 {
  color: #D9534F;
}
.the-notes.inf h4 {
  color: #4393D8;
}
#notes-app {
  background: #fdfdbe;
  overflow: hidden;
}
#note-data {
  width: 100%;
  position: absolute;
  left: -100%;
  padding-left: 55px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#notes-app.new-item #notes-list {
  left: -100%;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#notes-list {
  left: 0%;
  padding-left: 60px;
  width: 100%;
  height: 340px;
  overflow: hidden;
  padding-top: 7px;
  position: absolute;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
#notes-list a {
  color: #555;
}
#notes-list ul li {
  line-height: 31px;
}
#note-text {
  min-height: 300px;
  height: 100%;
  background: none !important;
  border: none !important;
  line-height: 31px;
  resize: none;
}
#notes-app .status-indicator {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: rgba(0,0,0,0.4);
  color: #fff;
  opacity: 0;
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  padding: 1px 6px 2px;
}
#notes-app.saved .status-indicator {
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  opacity: 1;
}
#notes-app .widget-content {
  background: repeating-linear-gradient(0deg,transparent,transparent 30px,#f3f3f3 30px,#f3f3f3 31px);
  height: 342px;
  padding-top: 0px;
}
#notes-app .notes-line {
  border-left: 3px double rgba(238,150,122,0.55);
  position: absolute;
  z-index: 0;
  display: block;
  height: 100%;
  left: 50px;
}
#notes-app.new-item #note-data {
  left: 0px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}