<div class="row">
	<div class="col-sm-12 widget-container-span">
		<div class="widget">
			<div class="user-profile-content">
				
				<div class="widget-header">
					<h1>&nbsp;<i class="%IC%"></i>&nbsp;%NOME%  <button id='link01ID' class='btn btn-xs btn-primary btn-round' title="Adicionar" onclick="javascript:LoadUrl('%URLADD%');"><i class="fa fa-plus-circle bigger-140"></i> Adicionar</button></h1>
				</div>
				
				<br>
				<div class="box-content">
					%GRID%
				</div>
			</div>
		</div>
	</div>
</div>


<!-- 
<div class="row">
	<div class="col-sm-12 widget-container-span">
		<div class="widget-body">
			<div class="page-header">
			<h1><i class="%IC%">&nbsp;</i>%NOME%  <button id='link01ID' class='btn btn-xs btn-primary btn-round' title="Adicionar" onclick="javascript:LoadUrl('%URLADD%');"><i class="fa fa-plus-circle bigger-140"></i> Adicionar</button></h1>
			</div>
				
			<div class="box-content">
				%GRID%
			</div>
		</div>
	</div>
</div>
-->
 
<script>
	var vUrl = '%URLADD%';
	
	if (vUrl == '') {
		$('#link01ID').hide();
	} 
</script>

<!-- Page Specific JS Libraries -->
<script src="%PKG_URL%/assets/libs/jquery-datatables/js/jquery.dataTables.min.js"></script>
<script src="%PKG_URL%/assets/libs/jquery-datatables/js/dataTables.bootstrap.js"></script>
<script src="%PKG_URL%/assets/libs/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="%PKG_URL%/assets/js/pages/datatables.js"></script>