<!-- Page Heading Start -->
<div class="page-heading">
	<h1><i class='icon-user-add'></i> Novo Parceiro 
		<a id='a01ID' class='btn btn-default' title="Voltar" href="javascript:LoadUrl('%URLVOLTAR%');"><i class="fa fa-arrow-left bigger-130"></i></a> 
		<a id='a01ID' class='btn btn-default' title="Novo índice" href="javascript:LoadUrl('%URLNOVO%');"><i class="fa fa-file bigger-130"></i></a>
	</h1>
</div>
<!-- Page Heading End-->

<!-- Your awesome content goes here -->
<div class="row">
	<div class="col-sm-12">
		<div class="widget">
			<div class="widget-header transparent">
				<h2>
					<strong>Informações </strong>Gerais
				</h2>
			</div>
			<div class="widget-content padding">
				<div id="horizontal-form">
					<form class="form-horizontal" role="form" id="FormID">
					<input type="hidden" id="codParceiroID" name="codParceiro" value="%COD_PARCEIRO%">
					<input type="hidden" id="codCidadeAltID" name="codCidadeAlt" value="%COD_CIDADE%">
						<div class="col-sm-7">
							<div class="form-group col-sm-12" id="divIdentID">
								<label for="input-text" class="col-sm-3 control-label">Identificação</label>
								<div class="col-sm-9 pull-left">
									<input type="text" class="form-control" maxlength="60" id="identID" name="ident" value="%IDENTIFICACAO%" placeholder="Identificação">
									<div id="divHelpIdentID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12" id="divNomeID">
								<label for="input-text" class="col-sm-3 control-label">Nome</label>
								<div class="col-sm-9 pull-left">
									<input type="text" class="form-control" maxlength="100" id="nomeID" name="nome" value="%NOME%" placeholder="Nome">
									<div id="divHelpNomeID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12" id="divCodEstadoID">
								<label for="input-text" class="col-sm-3 control-label">Estado</label>
								<div class="col-sm-9 pull-left">
									<select id="codEstadoID" name="codEstado" onchange="checkedEstado()" data-width="100%" data-live-search="true" class="selectpicker show-tick show-menu-arrow">
										%COD_ESTADO%
									</select>
									<div id="divHelpCodEstadoID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12 hidden" id="divCodCidadeID">
								<label for="input-text" class="col-sm-3 control-label">Cidade</label>
								<div class="col-sm-9 pull-left">
									<select id="codCidadeID" name="codCidade" data-width="100%" data-live-search="true" class="selectpicker show-tick show-menu-arrow">

									</select>
									<div id="divHelpCodCidadeID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12" id="divEnderecoID">
								<label for="input-text" class="col-sm-3 control-label">Endereço</label>
								<div class="col-sm-9 pull-left">
									<input type="text" class="form-control" maxlength="100" id="enderecoID" name="endereco" value="%ENDERECO%" placeholder="Endereço">
									<div id="divHelpEnderecoID"></div>
								</div>
							</div>
							<div class="form-group col-sm-12" id="divObservacaoID">
								<label for="input-text" class="col-sm-3 control-label">Observação</label>
								<div class="col-sm-9 pull-left">
									<input type="text" class="form-control" maxlength="100" id="observacaoID" name="observacao" value="%OBSERVACAO%" placeholder="Observação">
									<div id="divHelpObservacaoID"></div>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-offset-9 col-sm-10">
								<button type="button" id="btnSubmitID" class="btn btn-primary">
									<i class="fa fa-check bigger-110"></i> Salvar
								</button>
								<button type="button" class="btn btn-info" id="cancel"
									onclick="javascript:LoadUrl('%URLVOLTAR%');">
									<i class="fa fa-undo bigger-110"></i> Voltar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="%CHARSET%">
//SELECT
//$('.selectpicker').selectpicker({style: 'btn-inverse border-gray-1',size: 4});

$('.selectpicker').selectpicker({
	style: 'btn-inverse border-gray-1',
	size: 4
});
  	    
//Mascaras
$('[data-type="mask"]').each(function( index ) {
	$( this ).mask($( this ).attr('data-mask'));
});

$('#btnSubmitID').on("click", function(e) {
	
	var vOK 	= validaParceiro();
	
	if(vOK == false) {
		return false;
	}else{
		$('#FormID').submit();
	}
});

//Submit formulário
$('#FormID').submit(function() {
	$('#btnSubmitID').html('Aguarde...  <i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>');
	$('#btnSubmitID').attr("disabled","disabled");
	$('#cancel').attr("disabled","disabled");
	
	// Retirar mask para salvar
	$('[data-mask-retira="1"]').each(function( index ) {
		$( this ).val($( this ).cleanVal());
	});
	
	$.ajax({
		type:	"POST", 
		url:	"%DP%",
		data:	$('#FormID').serialize(),
	}).done(function( data, textStatus, jqXHR) {
		if (checaRetornoOK(data) == true) {
			$('#codParceiroID').val(GetCodRetorno(data));
			MostraAviso("Fechar",'Novo Parceiro', '%URLNOVO%');
		}else{
			MostraAviso("Fechar");
		}
		
		$('#DivModalID').on('hidden.bs.modal', function () {
			LimpaModalAviso();
			$('#DivModalID').off('hidden.bs.modal');
		});

		//Voltar o botão de salvar
		$('#btnSubmitID').html('<i class="fa fa-check bigger-110"></i> Salvar ');
		$('#btnSubmitID').attr("disabled",false);
		$('#cancel').attr("disabled",false);
		
	}).fail(function( jqXHR, textStatus, errorThrown) {
		MostraAviso(null);
	});
	
	// Reaplicar mask
	$('[data-mask-retira="1"]').each(function( index ) {
		$( this ).mask($( this ).attr('data-mask'));
		$( this ).trigger('keyup');
	});
	
	return false; 
});

function validaParceiro(){
	var vIdent	  	  = $('#identID').val();
	var vNome 		  = $('#nomeID').val();	
	var vEstado		  = $('#codEstadoID').val();	
	var vCidade		  = $('#codCidadeID').val();	
	var vOK			  = true;

	// Ident
	if (!vIdent) {
		$('#divIdentID').addClass('has-error');
		$('#divHelpIdentID').html(CriaSpanErro('Identificação deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divIdentID').removeClass('has-error');
		$('#divHelpIdentID').html('');		
	}
	
	// Nome
	if (!vNome) {
		$('#divNomeID').addClass('has-error');
		$('#divHelpNomeID').html(CriaSpanErro('Nome deve ser preenchido !!!'));
		vOK		= false;
	}else{
		$('#divNomeID').removeClass('has-error');
		$('#divHelpNomeID').html('');		
	}
	
	// Estado
	if (!vEstado) {
		$('#divCodEstadoID').addClass('has-error');
		$('#divHelpCodEstadoID').html(CriaSpanErro('Estado deve ser escolhido !!!'));
		vOK		= false;
	}else{
		$('#divCodEstadoID').removeClass('has-error');
		$('#divHelpCodEstadoID').html('');		
	}
	
	// Cidade
	if (!vCidade) {
		$('#divCodCidadeID').addClass('has-error');
		$('#divHelpCodCidadeID').html(CriaSpanErro('Cidade deve ser escolhido !!!'));
		vOK		= false;
	}else{
		$('#divCodCidadeID').removeClass('has-error');
		$('#divHelpCodCidadeID').html('');		
	}
	
	if (vOK == true) {
		return true ;
	}else{
		return false;
	}
}

function checkedEstado(){
	var vEstado		  = $('#codEstadoID').val();
	var vCidade		  = $('#codCidadeAltID').val();
	
	if(vEstado){
		$.ajax({
	        type:"GET",
	        url: "%ROOT_URL%/Adm/getCidade.dp.php",
	        data:{codEstado: vEstado, codCidade: vCidade},
		}).done(function( data, textStatus, jqXHR) {
            $('#codCidadeID').html(data).selectpicker('refresh');
            
		}).fail(function( jqXHR, textStatus, errorThrown) {
	        $('#codCidadeID').html('<option>Nehuma cidade encontrada!</option>').selectpicker('refresh');
	    });
		
		$('.selectpicker').selectpicker({
 	    	style: 'btn-inverse border-gray-1',
 	    	size: 4
 	    });
		 
		$('#divCodCidadeID').removeClass("hidden");
	}else{
		$('#divCodCidadeID').addClass("hidden");
	}
}

if($('#codParceiroID').val()){
	checkedEstado();
}
</script>
